@model EdufaceCms.Entities.Concrete.StudentEntity

@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}


<h3>Silmek istediğinize emin misiniz ?</h3>
<div>
    <h4>@(Model.Name+ " "+Model.Surname)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmergencyPerson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmergencyPerson)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proximity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proximity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Neighborhood)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Neighborhood)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModUser)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Listelemeye geri dön</a>
    </form>
</div>
