@model EdufaceCms.Entities.Concrete.PreRegisterEntity

@{
    Layout = "~/Views/Shared/Layouts/_Layout.cshtml";
}

<h3>Silmek istediğinize emin misiniz ?</h3>
<div>
    <h4>@(Model.Name + " " + Model.Surname)</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewPerson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InterviewPerson)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InterviewDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InterviewDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CellPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CellPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GivenPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GivenPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstimatedPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Not)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Not)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRegister)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRegister)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataQuality)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataQuality.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataSource)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataSource.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Level.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModUser)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
